$primary: #2C5F2D;
$secondary: #97BC62;
$success: #E3B448;
$info: #D9D9D9;
<<<<<<< HEAD
$warning: red;
$danger: #FFF854;

//@import "/node_modules/bootstrap/scss"
=======
$warning: #D22679;
$danger: #FFF854;
>>>>>>> parent of 122c99d (added testimonials to homepage)
