h1, h2, h3, h4 {
    font-family: 'Playfair Display', serif;
}

p {
    font-family: 'Roboto', sans-serif;
    /*font-size: 1.5rem;*/
}

nav {
    font-family: 'Roboto', sans-serif;
    font-size: 1.7rem;
}


.btn {
    border-radius: 0;
}

/* Home page - section: "How it works" */
.step .wrap-icon{
    width: 90px;
   height: 90px;
   border-radius: 50%;
   line-height: 90px;
   text-align: center;
   display: inline-block;
   background: #97BC62;
   color: #fff;
   font-size: 40px;
   margin-bottom: 20px;

}

/* Home page - section: Subcribe to newletter*/
.fill {
    background-image: url('/Img/index-img.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    min-height: 40vh;
}

@media (min-width: 1041px) {
    .fill {
        min-height: 70vh;
    }
}

